<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar</title>
    <link rel="stylesheet" href="../styles/navbar.css">
</head>
<body>
    <header>
        <nav class="navbar">
                <ul class="navbar-menu">
                    <li class="navbar-item"><a href="../index.html" class="navbar-link">Home</a></li>
                    <li class="navbar-item"><a href="../app/contacts/contacts.html" class="navbar-link">Reach out</a></li>
                    <li class="navbar-item"><a href="../app/projects/projects.html" class="navbar-link">Projects</a></li>
                    <li class="navbar-item"><a href="../app/sermons/sermons.html" class="navbar-link">Sermons</a></li>
                    <li class="navbar-item"><a href="../app/support/support.html" class="navbar-link">Give</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <script src="../js/navbar.js"></script>
</body>
</html>
